@import url('https://fonts.googleapis.com/css?family=Euphoria+Script|Oxygen&display=swap');

/** Variable declarations **/

:root {
    --headerHeight: 80px;
    --fontNormal: 'Oxygen';
    --fontSpecial: 'Euphoria Script';
    --fontSize: 12px;
    --fontTitleSize: 2em;
}
@media (min-width: 600px){
  :root {
    --headerHeight: 100px;
    --fontTitleSize: 2.5em;
  }
}

/** Main elements **/

html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--fontNormal) , sans-serif;
}

header {
    position: fixed;
    box-shadow: 10px 10px 20px silver;
    background: white;
    width: 100%;
    z-index: 2;
    text-align: center;
    overflow: hidden;
    height: var(--headerHeight);
}
header:hover {
    height: initial;
}

main {
    height: 100%;
    width: 100%;
}

aside {
    position: fixed;
    left: 1em;
    top: calc(var(--headerHeight) + 10px );
    background: white;
    padding: 1em;
    width: 20%;
    max-width: 80%;
    min-width: 300px;
    min-height: 70%;
    z-index: 1;
    box-shadow: 10px 10px 20px silver;
    opacity: 0.95;
    overflow-y: auto;
}

#map {
    height: 100%;
    width: 100%;
}

header h1 {
    font-family: var(--fontSpecial), cursive;
    font-size: var(--fontTitleSize);
    text-align: left;
    margin-left: 1em;
}
@media (min-width: 600px){
  header h1{
    text-align: center;
    margin-left: initial;
  }
}

aside {
    display: none;
}

aside.places {
    display: block;
    border: solid white 4px;
    background: lightgreen;
}

aside.events {
    display: block;
    border: solid white 4px;
    background: lightyellow;
}

aside.filter {
    display: block;
    border: solid white 4px;
    background: lightblue;
}
aside.filter form{
    display: block;
}

/** Article buttons **/
button[name='cancel'],
button[name='save'],
.editing button[name='edit'] {
    display: none;
}

.editing button[name='cancel'],
.editing button[name='save'],
button[name='edit'] {
    display: inline-block;
}

aside form {
    display: none;
}

aside.editing form {
    display: block;
}
aside .label{
    width: 30%;
    display: inline-block;
}

label[name='neighborhood'] {
    display: block;
}
input[name='neighborhood'] {
    width: 80%;
    padding: 0.2em;
    text-align: center;
    margin: 0.4em auto;
    display: block;
}


div.window-control{
    width: 100%;
    text-align: right;
}
div.actions{
    position: absolute;
    bottom: 1em;
}
button{
    background: white;
    font-family: var(--fontNormal) , sans-serif;
    border: solid thin silver;
    border-radius: 5px;
    padding: 1em 2em;
    font-size: var(--fontSize);
}
button:hover{
    cursor: pointer;
    box-shadow: 0 0 20px white ;
}

button[name='filter'] {
    position: absolute;
    top: 1em;
    right: 1em;
}
